.AidSelectionStep-reserved-space {
  min-height: 400px;
}

.AidSelectionStep-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
}

.AidSelectionStep .AidSelectionStep-select {
  margin-bottom: 16px;
}

.AidSelectionStep .AidSelectionStep-radio-group {
  margin-bottom: 16px;
}

.AidSelectionStep .AidSelectionStep-notice {
  margin-bottom: 16px;
  max-width: 1000px;
}
