@import '~antd/dist/antd.css';

body {
  background: #ffffff;
  overflow: hidden;
}

#root,
.App,
.App .ant-tabs,
.App .ant-tabs-content-holder,
.App .ant-tabs-content,
.App .ant-tabs-tabpane {
  height: 100%;
}

.App .ant-tabs .ant-tabs-nav {
  margin: 0;
}

/* Helpers */

.mb-1 {
  margin-bottom: 8px;
}

.text-center {
  text-align: center;
}

.ant-message {
  bottom: 20px;
  top: initial;
}
