.AdminTab {
  height: 100%;
  overflow-y: auto;
}

.AdminTab-content {
  max-width: 1024px;
  margin: 0 auto;
  padding: 64px 32px;
}

.AdminTab-header {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.AdminTab-services {
  display: flex;
  gap: 24px;
}

.AdminTab-services-space {
  flex-grow: 1;
}

.AdminTab-tables {
  margin-top: 48px;
}
