.AdminTab {
  max-width: 1024px;
  margin: 0 auto;
  padding: 32px;
}

.AdminTab .AdminTab-service {
  font-size: 1.5em;
}

.AdminTab .AdminTab-service-starting {
  color: orange;
}

.AdminTab .AdminTab-service-running {
  color: green;
}

.AdminTab .AdminTab-service-stopped {
  color: red;
}
