.ServiceStatusCard {
  display: flex;
  font-size: 1.3em;
  font-weight: 600;
  column-gap: 6px;
}

.ServiceStatusCard-icon {
  font-size: 1.5em;
}

.ServiceStatusCard .ServiceStatusCard-icon {
  color: orange;
}

.ServiceStatusCard .ServiceStatusCard-icon-running {
  color: green;
}

.ServiceStatusCard .ServiceStatusCard-icon-stopped {
  color: red;
}
