.ColumnSelector,
.AggregateSelector,
.FilterSelector {
  margin-top: 24px;
}

.query-builder-list {
  margin-bottom: 12px;
}

.query-builder-select {
  width: 100%;
}

.ColumnSelector-column-name.ant-btn {
  margin-left: -8px;
}

.AggColumnSelector {
  flex-grow: 1;
  margin-left: 8px;
}

.AggColumnSelector-select {
  width: 100%;
}

.FilterValueEditor {
  flex-grow: 1;
  margin-left: 6px;
}

.FilterValueEditor .FilterValueEditor-input-boolean,
.FilterValueEditor .FilterValueEditor-input-number {
  min-width: 120px;
}

.FilterValueEditor .FilterValueEditor-input-text {
  width: 100%;
}

.GeneralizationControls-input-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  margin-top: 2px;
}

.GeneralizationControls.valid .GeneralizationControls-label {
  color: #1890ff;
}

.GeneralizationControls.valid .ant-input-number {
  border: 1px solid #1890ff;
}
